body{
font-size: 12px;
background-color: #eee;
}
a{
    color: #333;
    text-decoration: none;
}
a:hover{
color: #1890ff;;
}
.box{
   width: 1080px;
   margin: 0 auto;
}

/* 清除浮动
---------------------------------------------------------------- */
.clearfix:after{
    content: "";
    clear: both;
    display: block;
    height: 0px;
    visibility: hidden;
}
.clearfix{
    *zoom:1;
}

.col-1{
    width: 208px;
}
.col-4{
    width: 862px;
}
.jianju{
    margin-right: 10px;
}
