/* 顶部
---------------------------------------------------------------- */
.top{
   height:30px;
   background-color:#f3f3f3;
}
.top .box{
  line-height:30px;
}
.top .box .topleft{
  float: left;
}
.top .box .topright{
  float: right;
}
.top .box .topright .topright1{
  float: left;
  padding:0 5px;
  margin-right: 16px;
  box-sizing: border-box;
}
.top .box .topright .topright1:hover{
  background-color: #fff;
}
.icon-gouwuche{
  font-size: 12px;
}
/* 头部搜索
---------------------------------------------------------------- */
.header{
background-color:#fff;
border-bottom:1px solid #52c41a;
}
.header .logo{
  float: left;
  height: 110px;
  line-height: 110px;
}
.header .logo a{
 font-size: 30px;
 font-weight: bold;
 color: #52c41a;
}
.header .headright{
  height: 110px;
  float: right;
}
.headright .right-lf{
  margin-top: 18px;
}
.right-lf .right-t{
  float: left;
  width: 414px;
  height: 42px;
  border: 2px solid #52c41a;
  outline: none;
  padding-left: 10px;
  font-size: 14px;
  box-sizing: border-box;
}
.right-lf .right-a{
  float: left;
  width: 100px;
  height: 42px;
  line-height: 42px;
  text-align: center;
  background-color:#52c41a;
}
.right-lf a{
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}
.right-lf a:hover{
  opacity: 0.6;
}
.headright .bot-list{
  margin-top: 22px;
}
.bot-list .bot-listr{
  float: left;
  font-size: 15px;
  font-weight: lighter;
  margin-right:41px;
}
.bot-list .bot-listr .list1{
  color: #52c41a;
}
/* 焦点
---------------------------------------------------------------- */
.focus .box{
   margin-top: 30px;
   margin-bottom: 40px;
}
.focus-le{
  height: 440px;
  float: left;
  background-color: #fff;
}
.focus-le .parent-le{
  width: 100%;
  height: 100%;
  padding: 20px 0;
  box-sizing: border-box;
}
.focus-le .parent-le .parent-le-itmes{
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding:0 10px;
  box-sizing: border-box;
}
.focus-le .parent-le .parent-le-itmes:hover{
  background-color: #ccc;
}
.focus-le .parent-le .parent-le-itmes .itme-a{
 font-size: 14px;
 margin-right: 4px;
}
.focus-ri{
  float:right;
  position: relative;
  height: 440px;
  background-color: blue;
}
.focus-ri .tupi{
  position: relative;
}
.focus-ri .tupi .tupi-itmes{
  position: absolute;
  left: 0;
  top: 0;
}
.focus-ri .tupi .tupi-itmes img{
  width: 862px;
  height: 440px;
}
.focus-ri .dingwei{
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size:50px;
  font-weight:lighter;
  color: #007aff;
}
.focus-ri .dingwei-left{
  position: absolute;
  top:50%;
  left: 0;
  margin-top: -25px;
 }
.focus-ri .dingwei-right{
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -25px;
}
.focus-ri .fbot{
  position: absolute;
  bottom: 13px;
  left: 50%;
  margin-left: -45px;
}
.focus-ri .fbot .fbot-itm{
  float: left;
  width: 20px;
  height:20px;
  border-radius: 50%;
  margin-left: 10px;
  background-color: rgba(0, 0,0,0.3);
  cursor: pointer;
}
.focus-ri .fbot .fl3{
  background-color: #52c41a;
}
/* 热销
---------------------------------------------------------------- */
.best .box{
margin-bottom: 40px;
}
.box .bes-le{
   float: left;
   height: 300px;
   text-align: center;
   background-image: linear-gradient(#007aff,#52c41a);
   cursor: pointer;
}
.box .bes-le1{
  font-size:38px;
  color: #fff;
  margin-top:98px;
  margin-bottom: 28px;
}
.box .bes-le2{
  font-size:32px;
  color: #fff;
}
.box .bes-ri{
  float: right;
}
.box .bes-ri .bes-ri1:last-child{
  margin-right: 0; 
}
/* 楼层
---------------------------------------------------------------- */
.floor .box .afloor{
  margin-bottom: 40px;
}
.floor .box .afloor .boxshang{
  margin-bottom: 14px;
  border-bottom:1px solid #52c41a;
}
.floor .box .boxshang a{
  font-size: 18px;
  color: #52c41a;
}
.box .bes-ri .bes-ri1:nth-child(5n){
  margin-right: 0;
}
/* .floor .box .a2{
  margin-top:10px; */
/* 底部导航
---------------------------------------------------------------- */
.bottom{
  /* height:248px; */
  background-color:#2f2f2f;
}
.bottom .box{
  height:248px;
}
.bottom .box .bot-top{
  height: 146px;
  border-bottom: 1px solid rgba(255, 255, 255,0.1);
  line-height:146px; 
}
.bottom .box .bot-top span{
  display:inline-block;
  height: 36px;
  line-height: 36px;
  font-size: 18px;
  color: #fff;
}
.bottom .box .bot-top .bt1{
  margin-right: 210px;
}
.bottom .box .bot-top .bt2{
  margin-right: 210px;
}
.bottom .box .bot-top i{
  font-size: 36px;
  vertical-align: middle;
}
.bottom .box .bot-top .a1{
padding-right: 16px;
padding-left:40px;
}
.bottom .box .bot-top .a2{
  padding-right: 16px;
}
.bottom .box .bot-top .a3{
    padding-right: 16px;
}
.bottom .box .bot-bott{
  height: 102px;
  text-align: center;
 
}
.bottom .box .bot-bott1{
  margin-top: 12px;
  margin-bottom: 16px;
}
.bottom .box .bot-bott1 a{
  color: #888;
}
.bottom .box .bot-bott1 .aju1{
 margin-right:22px;
}
.bottom .box .bot-bott1 .aju2{
  margin-left:22px;
 }
.bottom .box .bot-bott2{
  color: #888;
}
